<section id="top">
    <div id="logo">
        <img src="https://cdn.discordapp.com/attachments/981402983654899762/1013277644206374984/qr2.png"
            alt="logo-duoc-v2">
        <h1><span>Registr</span>APP</h1>
    </div>
    <p class="phrase">"Una nueva forma de estar <span>presente</span>."</p>

    <div id="login-container">
        <header>
            <h1>Bienvenido profesor</h1>
        </header>

        <form action="">
            <mat-form-field id="form-input" appearance="standard">
                <mat-label >Correo</mat-label>
                <mat-icon class="at-icon">alternate_email</mat-icon>
                <input matInput placeholder="usuario@profesor.duoc.cl" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field id="form-input" appearance="standard">
                <mat-label>Contraseña</mat-label>
                <mat-icon class="lock-icon">lock</mat-icon>
                <input [formControl]="password" type="password" matInput>
                <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
            </mat-form-field>

            <button type="submit" mat-stroked-button color="primary" (click)="login()">Iniciar Sesión</button>
        
        </form>

        <footer>
            <div *ngIf="error">
                <p class="error">{{ error }}</p>
            </div>
        </footer>

    </div>

</section>




<div id="bottom">
    
</div>