<h1>Registro de asistencia:</h1>



<main>
    <table class="section-table mat-elevation-z3" mat-table [dataSource]="sectionData">
        <ng-container matColumnDef="Asignatura">
            <th mat-header-cell *matHeaderCellDef> Asignatura </th>
            <td mat-cell *matCellDef="let element"> {{element.asignatura}} </td>
        </ng-container>
        <ng-container matColumnDef="Seccion">
            <th mat-header-cell *matHeaderCellDef> Seccion </th>
            <td mat-cell *matCellDef="let element"> {{element.seccion}} </td>
        </ng-container>
        <ng-container matColumnDef="Horario">
            <th mat-header-cell *matHeaderCellDef> Horario </th>
            <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
        </ng-container>
        <ng-container matColumnDef="Sala">
            <th mat-header-cell *matHeaderCellDef> Sala </th>
            <td mat-cell *matCellDef="let element"> {{element.sala}} </td>
        </ng-container>
        <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="sectionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: sectionColumns;"></tr>
    </table>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 students-table" matSort matSortDisableClear
        matSortActive="lastName" matSortDirection="asc">

        <!-- Name Column -->
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="Apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>

        <!-- Mail Column -->
        <ng-container matColumnDef="Asistencia">
            <th mat-header-cell *matHeaderCellDef> Asistencia </th>
            <td mat-cell *matCellDef="let element">
                <mat-radio-group>
                    <mat-radio-button value="1">Presente</mat-radio-button>
                    <mat-radio-button value="2">Ausente</mat-radio-button>
                </mat-radio-group>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="assistence-actions">
        <button class="save-btn" mat-flat-button color="primary">
            <mat-icon>save</mat-icon>
            <p>Guardar asistencia</p>
        </button>
        <button class="exit-btn" mat-flat-button color="warn">
            <mat-icon>close</mat-icon>
            <p>Salir</p>
        </button>
    </div>

</main>